.snakemake/
9SERUM
HZtJgB
IVxjec
Pcz2XY
batchsnake
blobtools
c095.2294928.4294967294.err
c095.2294928.4294967294.out
feB5qb
redundans
report.html
reports/*
taxdb.btd
taxdb.bti
testfiles.txt
testfiles2.txt
tmp
u2BP4l
ydxfSY
BUSCO_db/*
data/*
busco*
plat*
redun*
